<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ltd.newimg.booksystem.mapper.UserMapper">

    <resultMap id="User" type="ltd.newimg.booksystem.model.dto.UserDTO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="moreInfo" column="more_inf"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="UserVO" type="ltd.newimg.booksystem.model.vo.UserVO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="isAdmin" column="is_admin"/>
        <result property="moreInfo" column="more_inf"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="addUser" keyProperty="id" parameterType="ltd.newimg.booksystem.model.vo.UserVO">
        INSERT INTO user (name, password, is_admin, more_inf, create_time, update_time)
        VALUES (#{name}, #{password}, #{isAdmin}, #{moreInfo}, NOW(), NOW());
    </insert>


    <delete id="deleteById" parameterType="Integer">
        DELETE FROM user
        WHERE id = #{id};
    </delete>

    <update id="update" parameterType="ltd.newimg.booksystem.model.dto.UserDTO">
        UPDATE user
        SET name = #{name},
            password = #{password},
            is_admin = #{isAdmin},
            more_inf = #{moreInfo},
            update_time = NOW()
        WHERE id = #{id};
    </update>

    <select id="queryByName" resultMap="User" parameterType="String">
        SELECT id, name, password, is_admin, more_inf, create_time, update_time
        FROM user
        WHERE name = #{name};
    </select>

    <select id="queryById" resultMap="User" parameterType="Integer">
        SELECT id, name, password, is_admin, more_inf, create_time, update_time
        FROM user
        WHERE id = #{id};
    </select>
</mapper>
