<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ltd.newimg.booksystem.mapper.BookMapper">

    <resultMap id="BookInfo" type="ltd.newimg.booksystem.model.dto.BookInfoDTO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="margin" column="margin"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="BookDetail" type="ltd.newimg.booksystem.model.dto.BookDetailDTO">
        <result property="id" column="id"/>
        <result property="detail" column="detail"/>
        <result property="picture" column="picture"/>
        <result property="author" column="author"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="BookEntirety" type="ltd.newimg.booksystem.model.dto.BookEntiretyDTO">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="margin" column="margin"/>
        <result property="createId" column="create_id"/>
        <result property="detail" column="detail"/>
        <result property="picture" column="picture"/>
        <result property="author" column="author"/>
        <result property="bookInfCreateTime" column="book_inf_create_time"/>
        <result property="bookInfUpdateTime" column="book_inf_update_time"/>
        <result property="bookDetailCreateTime" column="book_detail_create_time"/>
        <result property="bookDetailUpdateTime" column="book_detail_update_time"/>
    </resultMap>

    <insert id="addBookInf" useGeneratedKeys="true" keyProperty="id" parameterType="ltd.newimg.booksystem.model.dto.BookInfoDTO">
        INSERT INTO book_info (name, price, margin, create_id, create_time, update_time)
        VALUES (#{name}, #{price}, #{margin}, #{createId}, now(), now());
    </insert>

    <insert id="addBookDetail" useGeneratedKeys="true" keyProperty="id" parameterType="ltd.newimg.booksystem.model.dto.BookDetailDTO">
        INSERT INTO book_detail (id, detail, picture, author, create_time, update_time)
        VALUES (#{id}, #{detail}, #{picture}, #{author}, now(), now());
    </insert>

    <delete id="delBookById">
        DELETE
        FROM book_info
        WHERE id = #{id};
    </delete>

    <update id="updateBookInfo">
        UPDATE book_info
        SET name        = #{name},
            price       = #{price},
            margin      = #{margin},
            create_id   = #{createId},
            update_time = NOW()
        WHERE id = #{id};
    </update>

    <update id="updateBookDetail">
        UPDATE book_detail
        SET detail      = #{detail},
            picture     = #{picture},
            author      = #{author},
            update_time = NOW()
        WHERE id = #{id};
    </update>

    <select id="queryByName" resultMap="BookInfo" parameterType="ltd.newimg.booksystem.model.vo.BookQueryByNameVO">
        SELECT id, name, price, margin, create_id, create_time, update_time
        FROM book_info
        WHERE name like #{name}
        LIMIT #{size} OFFSET ${offset};
    </select>

    <select id="queryById" resultMap="BookEntirety">
        SELECT bi.id,
               bi.name,
               bi.price,
               bi.margin,
               bi.create_id,
               bi.create_time AS book_inf_create_time,
               bi.update_time AS book_inf_update_time,
               bd.detail,
               bd.picture,
               bd.author,
               bd.create_time AS book_detail_create_time,
               bd.update_time AS book_detail_update_time
        FROM (SELECT * FROM book_info WHERE id = #{id}) AS bi
                 LEFT JOIN booksystem.book_detail bd ON bi.id = bd.id;
    </select>
</mapper>
