<body>
<div>
    <div align="center" style="height: 100vh;margin-top: 20vh;">
        <table
                style="width:100%;font-weight:300;margin-bottom:10px;min-width:320px;   border: 1px solid rgb(219, 199, 199);max-width:660px;border-collapse:collapse">
            <tbody>
            <tr style="font-weight:300">
                <td style="width:3%;max-width:30px;"></td>
                <td style="max-width:600px;">

                    <p class="cTMail-content"
                       style="font-size: 14px; color: rgb(51, 51, 51); line-height: 24px; margin: 6px 0px 0px; word-wrap: break-word; word-break: break-all;">
                        <a href="" id="cTMail-btn" style="font-size: 16px; line-height: 45px; display: block; background-color: rgb(0, 164, 255); color: rgb(255, 255, 255); text-align: center; text-decoration: none; margin-top: 20px; border-radius: 3px;"
                           title="">
                            通知
                        </a>
                    </p>
                    <div id="cTMail-inner"
                         style="background-color:#fff; padding:23px 0 20px;box-shadow: 0px 1px 1px 0px rgba(122, 55, 55, 0.2);text-align:left;">
                        <table
                                style="width:100%;font-weight:300;margin-bottom:10px;border-collapse:collapse;text-align:left;">
                            <tbody>

                            <tr style="font-weight:300">

                                <td style="width:3.2%;max-width:30px;"></td>

                                <td style="max-width:480px;text-align:left;">

                                    <h1 id="cTMail-title"
                                        style="font-size: 20px; line-height: 36px; margin: 0px 0px 22px;">
                                        通知
                                    </h1>

                                    <p id="cTMail-userName"
                                       style="font-size:14px;color:#333; line-height:24px; margin:0;">
                                        亲爱的${resultEmail.name}同学，你好
                                    </p>

                                    <p class="cTMail-content"
                                       style="line-height: 24px; margin: 6px 0px 0px; overflow-wrap: break-word; word-break: break-all;">
                                                    <span style="color: rgb(51, 51, 51); font-size: 14px;">
                                                        &emsp;&emsp;恭喜你通过实验室面试，具体事项请联系${resultEmail.contact}。
                                                    </span>
                                    </p>
                                    <dl style="font-size: 14px; color: rgb(51, 51, 51); line-height: 18px;">
                                        <dd
                                                style="margin: 0px 0px 6px; padding: 0px; font-size: 12px; line-height: 22px;">
                                            <p id="cTMail-sender"
                                               style="font-size: 14px; line-height: 26px; word-wrap: break-word; word-break: break-all; margin-top: 32px;">
                                                <strong>移动应用开发实验室</strong>
                                            </p>
                                        </dd>
                                    </dl>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td style="width:3%;max-width:30px;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>