.messagestyle {
    word-break: break-all;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    line-height: 32px;
}

.messageinnerbox {
    padding-top: 15px;
}

.AuthBox {
    padding-bottom: 13px;
}

.Fatherbox {
    border-radius: 0px 0px 5px 5px;
    border-left: 1px solid rgb(200, 236, 236);
    border-right: 1px solid rgb(200, 236, 236);
    border-bottom: 1px solid rgb(200, 236, 236);
}

[v-cloak] {
    display: none;
}