<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <!-- <link rel="stylesheet" href="./dev.css"> -->
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.24.0/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</head>

<body>
    <div class="container" id="app" v-cloak>
        <div class="row clearfix">
            <div class="row clearfix">
                <div class="col-md-12 column" style="background-color: gainsboro; border-radius: 0px 0px 5px 5px;">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">简介</a>
                        </li>
                        <li class="disabled">
                            <a href="#">信息</a>
                        </li>
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">操作</a>
                                </li>
                                <li>
                                    <a href="#">设置栏目</a>
                                </li>
                                <li>
                                    <a href="#">更多设置</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">分割线</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 column Fatherbox">
                <div class="row clearfix">
                    <div class="col-md-3 column">
                        <div class="row clearfix">
                            <div class="col-md-12 column" style="padding-top: 10px;" v-for="Friend in FriendList">
                                <div class="col-sm-3 column">
                                    <img v-bind:src="Friend.avator" alt="" style="width: 2.4vw;border-radius: 50px;">
                                </div>
                                <div class="col-sm-6 column" style="font-size: 1.73vw;">
                                    {{ Friend.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 column">
                        <div v-for="item in Info">
                            <friendmessage v-if="!item.isMine" v-bind:avator="FriendAvator" v-bind:info="item">
                            </friendmessage>
                            <mymessage v-if="item.isMine" v-bind:avator="MyAvator" v-bind:info="item"></mymessage>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <form role="form">
                                    <div class="form-group">
                                        <textarea name="message" id="message" cols="30" rows="10"
                                            class="form-control"></textarea>
                                    </div>
                                    <div class="form-group" style="text-align: right;">
                                        <button type="submit" class="btn btn-default">发送</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row clearfix AuthBox" style="text-align: center;">
                    <div class="col-md-12 column">
                        {{AuthInfo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>